
@{
    ViewBag.Title = "CarResponse";
    Layout = "~/Views/FlightSearch/Flights_Layout.cshtml";
}

<style>
    .sumHdr {
        margin-top: -16px !important;
        background-color: rgb(254,110,0);
        background: radial-gradient(circle, rgba(254,110,0,1) 15%, rgba(246,137,31,1) 51%, rgba(254,110,0,1) 82%);
        color: white;
    }
    .fnt10 {
        font-size: 10px;
    }
    .fnt12 {
        font-size: 12px;
    }
    .fnt20 {
        font-size: 20px;
    }
    .fnt15 {
        font-size: 15px;
    }
    .fnt {
        font-size: 13px !important;
    }
    .fnt11 {
        font-size: 11px;
    }
    .fnt18 {
        font-size: 18px;
    }
    .pd0 {
        padding: 0px;
    }
    .pd {
        padding: 5px;
    }
    .pdT {
        padding-top: 5px;
    }
    .pdT2 {
        padding-top: 10px;
    }
    .pdR {
        padding-right: 5px;
    }
    .pdR2 {
        padding-right: 10px;
    }
    .pdL {
        padding-left: 5px;
    }
    .pdL2 {
        padding-left: 10px;
    }
    .pdB {
        padding-bottom: 5px;
    }
    .pdB2 {
        padding-bottom: 10px;
    }
    .mrT {
        margin-top: 5px;
    }
    .mrB0 {
        margin-bottom: 0px;
    }
    .mrB2 {
        margin-bottom: 10px;
    }
    .mrL {
        margin-left: 5px;
    }
    .mrL2 {
        margin-left: 10px;
    }
    .HI5 {
        float: left !important;
        background-color: #1e1e2d !important;
        font-weight: 300 !important;
        border: none !important;
        color: white !important;
        border-radius: 0px;
    }
    .Filertbl {
        background-color: #1e1e2d;
        margin-top: -55px;
        margin-bottom: 25px !important;
        border: none !important;
        width: 100% !important;
        display: table;
        padding: 0px;
    }
    .colr1 {
        color: white;
    }
    .colr2 {
        color: forestgreen;
    }
    .colr3 {
        color: firebrick;
    }
    .colr4 {
        color: darkorange;
    }
    .colr5 {
        color: red;
    }
    .colr6 {
        color: orangered;
    }
    .IcnFilt {
        font-size: 15px !important;
        padding-right: 10px !important;
    }
    .headrtxt {
        font-size: 15px;
        font-weight: 500;
        color: #212529;
    }
    .fw5 {
        font-weight: 500;
    }
    .fw3 {
        font-weight: 300;
    }
    .fw7 {
        font-weight: 700;
    }
    .flSel {
        margin-top: -15px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .srchBtnFLSel {
        border-radius: 0px !important;
        background-color: mediumseagreen !important;
        font-weight: 300 !important;
        border: none !important;
        color: white !important;
        float: right;
    }
    .seltxt {
        color: forestgreen;
        font-size: 20px;
        font-weight: 500;
    }
    .brdr {
        border-top: 1px dashed gainsboro;
    }
    .brdr2 {
        border-bottom: 1px dashed gainsboro;
    }
    .Srts {
        background-color: white;
        width: 100%;
        margin-left: 0px;
    }
    .srchBtn {
        border-radius: 0px !important;
        background-color: #1e1e2d !important;
        font-weight: 300 !important;
        border: none !important;
        color: white !important;
        float: right;
    }
    .FltResp {
        font-size: 13px;
        font-family: 'Poppins';
        font-weight: 400;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        /*padding: 0px;*/
        margin-top: 10px;
    }
    .resptbl {
        background-color: white;
        width: 100%;
    }
    .hdbck {
        background-color: #f2f2f2
    }
    .srchBtnS {
        border-radius: 0px !important;
        background-color: #1e1e2d !important;
        font-weight: 300 !important;
        border: none !important;
        color: white !important;
    }
    .HtlResp {
        background-color: white;
        font-size: 13px;
        font-family: 'Poppins';
        font-weight: 200;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        padding: 0px;
        margin-top: 10px;
    }
</style>

<!--Remember to add page and unit loaders!-->
<!--Start of Summary of Search-->
<div class="kt-subheader kt-grid__item mySub sumHdr" id="kt_subheader">
    <table class="col-lg-12 col-xl-12 table-responsive" style="display: table;">
        <colgroup>
            <col style="width:5%;" />
            <col style="width:15%;" />
            <col style="width:15%;" />
            <col style="width:15%;" />
            <col style="width:15%;" />
            <col style="width:25%;" />
            <col style="width:10%;" />
        </colgroup>
        <tr>
            <td align="right" valign="top" class="pdT2"><i class="fa fa-car fnt20"></i></td>
            <td class="fnt15 pdT2" align="center" valign="top"><span>Johannesburg (JNB)</span></td>
            <td class="fnt15 pdT2" align="center" valign="top"><span><i class="fa fa-calendar-check pdR2"></i>(12 Jul 2019)</span></td>
            <td class="fnt15 pdT2" align="center" valign="top"><span><i class="fa fa-moon pdR2"></i>5 Days</span></td>
            <td class="fnt15 pdT2" align="center" valign="top"><span><i class="fa fa-calendar-times pdR2"></i>(15 Jul 2019)</span></td>
            <td class="fnt15 pdT2" align="center" valign="top"><span><i class="fa fa-users pdR"></i>Vernon Bear</span></td>
            <td class="fnt15" align="center" valign="top"><button type="reset" class="btn HI5 mrT">Change</button></td>
        </tr>
    </table>
</div>
<!--End of Summary-->
<!--Start of Filters-->
<div class="row">
    <table class="col-lg-12 col-xl-12 table-responsive Filertbl">
        <colgroup>
            <col style="width:20%;" />
            <col style="width:15%;" />
            <col style="width:15%;" />
            <col style="width:15%;" />
            <col style="width:15%;" />
            <col style="width:20%;" />
        </colgroup>
        <tr>
            <td align="center" valign="middle" class="colr1">
                <p class="pdT2 pdB mrB0">
                    <a style="color:white;" data-toggle="collapse" href="#collapseExampleF" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-filter IcnFilt"></i>Filters
                    </a>
                </p>
            </td>
            <td align="center" valign="middle">
                <p class="pdT2 pdB mrB0">
                    <a style="color:white;" data-toggle="collapse" href="#collapseExampleF" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-money-bill-wave pdR2"></i>Price
                    </a>
                </p>
            </td>
            <td align="center" valign="middle" style="color:white;">
                <p class="pdT2 pdB mrB0">
                    <a style="color:white;" data-toggle="collapse" href="collapseExampleF" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-handshake pdR2"></i> Deals
                    </a>
                </p>
            </td>
            <td align="center" valign="middle">
                <p class="pdT2 pdB mrB0">
                    <a style="color:white;" class="" data-toggle="collapse" href="#collapseExampleF" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-person-booth IcnFilt"></i> Rental Agents
                    </a>
                </p>
            </td>
            <td align="center" valign="middle" style="color:white;">
                <p class="pdT2 pdB mrB0">
                    <a style="color:white;" data-toggle="collapse" href="collapseExampleF" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-file-contract IcnFilt"></i> Policy
                    </a>
                </p>
            </td>
            <td align="center" valign="middle" style="color:white;">
                <p class="pdT2 pdB mrB0">
                    <a style="color:white;" data-toggle="collapse" href="collapseExampleF" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-wrench IcnFilt"></i> Transmission Type
                    </a>
                </p>
            </td>
        </tr>
        <!--ADD FILTERS IN HERE!!-->
        <tr>
            <td colspan="6" class="pdT">
                <div class="collapse" id="collapseExampleF">
                    <div class="card card-body pd0">
                        <table class="col-lg-12 col-xl-12">
                            <tr>
                                <td align="center" class="pdT pdB">
                                    <span class="headrtxt">15 Cars Returned</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pdT2">
                                    <table class="col-lg-12 col-xl-12">
                                        <colgroup>
                                            <col style="width:33.33%;" />
                                            <col style="width:33.33%;" />
                                            <col style="width:33.33%;" />
                                        </colgroup>
                                        <tr>
                                            <td valign="top">
                                                <table>
                                                    <tr><td><span class="fw5 fnt15">RENTAL AGENTS</span></td></tr>
                                                    <tr>
                                                        <td class="pdT">
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Aaaaaa
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Bbbbbb
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Cccccc
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="top" class="pdR2">
                                                <table class="col-lg-12 col-xl-12">
                                                    <tr>
                                                        <td>
                                                            <span class="fw5 fnt15">PRICE</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pdT">
                                                            <div>
                                                                <div class="kt-ion-range-slider">
                                                                    <span class="irs irs--flat js-irs-2 irs-with-grid">
                                                                        <span class="irs">
                                                                            <span class="irs-line" tabindex="0">
                                                                            </span>
                                                                            <span class="irs-min" style="visibility: visible;">
                                                                                $0
                                                                            </span>
                                                                            <span class="irs-max" style="visibility: visible;">$1 000</span>
                                                                            <span class="irs-from" style="visibility: visible; left: 18.8882%;">$200</span>
                                                                            <span class="irs-to" style="visibility: visible; left: 77.9458%;">$800</span>
                                                                            <span class="irs-single" style="visibility: hidden; left: 46.561%;">$200 — $800</span>
                                                                        </span>
                                                                        <span class="irs-grid" style="width: 98.4293%; left: 0.685345%;">
                                                                            <span class="irs-grid-pol" style="left: 0%"></span>
                                                                            <span class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -0.540691%;">0</span>
                                                                            <span class="irs-grid-pol small" style="left: 20%"></span>
                                                                            <span class="irs-grid-pol small" style="left: 15%"></span>
                                                                            <span class="irs-grid-pol small" style="left: 10%"></span>
                                                                            <span class="irs-grid-pol small" style="left: 5%"></span>
                                                                            <span class="irs-grid-pol" style="left: 25%"></span><span class="irs-grid-text js-grid-text-1" style="left: 25%; visibility: visible; margin-left: -1.0323%;">250</span><span class="irs-grid-pol small" style="left: 45%"></span><span class="irs-grid-pol small" style="left: 40%"></span><span class="irs-grid-pol small" style="left: 35%"></span><span class="irs-grid-pol small" style="left: 30%"></span><span class="irs-grid-pol" style="left: 50%"></span><span class="irs-grid-text js-grid-text-2" style="left: 50%; visibility: visible; margin-left: -1.0323%;">500</span><span class="irs-grid-pol small" style="left: 70%"></span><span class="irs-grid-pol small" style="left: 65%"></span><span class="irs-grid-pol small" style="left: 60%"></span><span class="irs-grid-pol small" style="left: 55%"></span><span class="irs-grid-pol" style="left: 75%"></span><span class="irs-grid-text js-grid-text-3" style="left: 75%; visibility: visible; margin-left: -1.0323%;">750</span><span class="irs-grid-pol small" style="left: 95%"></span><span class="irs-grid-pol small" style="left: 90%"></span><span class="irs-grid-pol small" style="left: 85%"></span><span class="irs-grid-pol small" style="left: 80%"></span><span class="irs-grid-pol" style="left: 100%"></span><span class="irs-grid-text js-grid-text-4" style="left: 100%; margin-left: -1.40043%;">1 000</span>
                                                                        </span><span class="irs-bar" style="left: 20.4712%; width: 59.0576%;"></span><span class="irs-shadow shadow-from" style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span class="irs-handle from" style="left: 19.6859%;"><i></i><i></i><i></i></span><span class="irs-handle to type_last" style="left: 78.7434%;"><i></i><i></i><i></i></span>
                                                                    </span><input type="hidden" id="kt_slider_3" class="irs-hidden-input" tabindex="-1" readonly="" value="200;800">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="top" align="center">
                                                <table>
                                                    <tr><td><span class="fw5 fnt15">POLICY</span></td></tr>
                                                    <tr>
                                                        <td class="pdT">
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">In Policy
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Out of Policy
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table>
                                                    <tr><td><span class="fw5 fnt15">DEALS</span></td></tr>
                                                    <tr>
                                                        <td class="pdT">
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Aaaaaa
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Bbbbbb
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Cccccc
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="top" align="left">
                                                <table>
                                                    <tr><td><span class="fw5 fnt15">TRANSMISSION</span></td></tr>
                                                    <tr>
                                                        <td class="pdT">
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Automatic
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="kt-radio fw3">
                                                                <input type="radio" name="radio1">Manual
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<!--End of Filters-->
<!--Start Sorts-->
<div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" style="position:relative;">
        <div>
            <div class="row Srts mrB2 pd">
                <table class="col-lg-12 col-xl-12">
                    <colgroup>
                        <col style="width:25%;" />
                        <col style="width:25%;" />
                    </colgroup>
                    <tr>
                        <td align="center" class="pd">
                            <span class="fw5">SORTING RESULTS BY:</span>
                        </td>
                        <td align="center" class="pd">
                            <span>PRICE<i class="flaticon2-arrow-up pdL colr5"></i><i class="flaticon2-arrow-down pdL colr5"></i></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--End Sorts-->
<!--HOTEL RESULTS DISPLAY-->
        <div class="row col-lg-12 col-xl-12 HtlResp">
            <table class="col-lg-12 col-xl-12">
                <colgroup>
                    <col style="width:25%;" />
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                </colgroup>
                <tr>
                    <td align="center" class="brdr brdr2 fnt15 fw5">CLASS</td>
                    <td align="center" class="brdr brdr2 pd">
                        <img src="~/Content/Images/Cars/BV.png" style="width:70%;" />
                    </td>
                    <td align="center" class="brdr brdr2 pd"><img src="~/Content/Images/Cars/IM.png" style="width:100%;" /></td>
                    <td align="center" class="brdr brdr2 pd"><img src="~/Content/Images/Cars/ZD.png" style="width:100%;" /></td>
                    <td align="center" class="brdr brdr2 pd"><img src="~/Content/Images/Cars/ZE.png" style="width:100%;" /></td>
                    <td align="center" class="brdr brdr2 pd"><img src="~/Content/Images/Cars/ZI.png" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Economy</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_CDAR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center"><a href="@Url.Action("CarDet", "CarDetails")" class="colr2 fnt15 fw5">R 100 000.00</a></td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Compact</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_CDMR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Midsize</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_EBMR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Standard</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_EDAR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Full Size</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_EDMR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Midsize SUV</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_IFMR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Mini Van</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_PCAR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Standard SUV</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_PRAR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Luxury</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_PVMR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" valign="bottom">Premium SUV</td></tr>
                            <tr><td align="center" valign="top"> <img src="~/Content/Images/Cars/BV_SFMR.jpg" style="width:70%;" /></td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                    <td align="center" class="brdr brdr2">
                        <table>
                            <tr><td align="center" class="colr2 fnt15 fw5">R 100 000.00</td></tr>
                            <tr><td align="center" class="fnt11">R 150.00 daily</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <!---->
        <!--PAGINATION-->
        <div class="kt-portlet__body pagAlgn" style="margin-top:20px;">
            <div class="tab-content">
                <!--begin: Section-->
                <div class="kt-section">
                    <p class="kt-section__content">
                        <!--begin: Pagination-->
                    </p>
                    <div class="kt-pagination  kt-pagination--brand">
                        <ul class="kt-pagination__links">
                            <li class="kt-pagination__link--first">
                                <a href="#" class="pagSt"><i class="fa fa-angle-double-left kt-font-brand pagIc"></i></a>
                            </li>
                            <li class="kt-pagination__link--next">
                                <a href="#" class="pagSt"><i class="fa fa-angle-left kt-font-brand pagIc"></i></a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>
                            <li>
                                <a href="#">29</a>
                            </li>
                            <li>
                                <a href="#">30</a>
                            </li>
                            <li>
                                <a href="#">31</a>
                            </li>
                            <li class="kt-pagination__link--active">
                                <a href="#">32</a>
                            </li>
                            <li>
                                <a href="#">33</a>
                            </li>
                            <li>
                                <a href="#">34</a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>
                            <li class="kt-pagination__link--prev">
                                <a href="#" class="pagSt"><i class="fa fa-angle-right kt-font-brand pagIc"></i></a>
                            </li>
                            <li class="kt-pagination__link--last">
                                <a href="#" class="pagSt"><i class="fa fa-angle-double-right kt-font-brand pagIc"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--end: Pagination-->
                    <p></p>
                </div>
                <!--end: Section-->
            </div>
        </div>
        <!--PAGINATION END-->
