
@{
    ViewBag.Title = "FareRules";
    Layout = "~/Views/FlightSearch/Flights_Layout.cshtml";
}

<div class="row">
    <table class="col-lg-12 col-xl-12">
        <tr>
            <td style="padding-top:10px;">
                <span style="float:left;">FLIGHT FARE RULES</span><span style="float:right;"><i class="fa fa-window-close"></i></span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="border:1px solid gainsboro;padding-top:10px;">
                <img src="~/Content/Images/BA.png" style="padding-right:20px;width:100%;" /><span style="padding-right:20px;">FLIGHT 501</span><span>(12 July)</span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">APPLICATION AND OTHER CONDITIONS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    application and other conditions rule - 903/ciz7 base - 865/0001/jrs between hla and dur mn private fares fares to/from lanseria intl apt-hla application area these fares apply within south africa. class of service these fares apply for economy class service. types of transportation fares governed by this rule can be used to create one-way/round-trip/circle-trip/single open-jaw journeys. fares only apply if purchased before departure. capacity limitations seats are limited other conditions passenger expenses not permitted
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">FLIGHT APPLICATION</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    flight application between hla and dur the fare component must include travel from/to/via hla airport on one or more of the following mn flights 501 through 599 on direct flights. or the fare component must be on one or more of the following ba flights 6200 through 6449 on direct flights.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">ADVANCED RES / TICKETING</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    advance res/ticketing for -rs type fares reservations are required for all sectors. standby not permitted. when reservations are made at least 72 hours before departure ticketing must be completed within 24 hours after reservations are made. note - text below not validated for autopricing open returns not permitted ---- waitlist and standby not permitted. ---- ticketing deadline for mn as mentioned below for bookings made 72 hours or more before departure ticketing must be done 24 hours after booking. ---- for bookings made less than 72 hours but more than 12 hours before departure ticketing must be done 4 hours after booking. ---- for booking made within 12 hours to departure ticketing must be done immediately or - open returns not permitted. standby not permitted. when reservations are made at least 12 hours before departure ticketing must be completed within 4 hours after reservations are made. or - reservations and ticketing must be completed at the same time. open returns not permitted. standby not permitted.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">MAXIMUM STAY</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    maximum stay unless otherwise specified travel from last stopover must commence no later than 6 months after departure from fare origin.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">STOPOVERS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    stopovers unless otherwise specified unlimited stopovers permitted on the pricing unit.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">TRANSFERS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    transfers unless otherwise specified unlimited transfers permitted on the pricing unit fare break surface sectors not permitted and embedded surface sectors permitted on the fare component.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">PERMITTED COMBINATIONS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    permitted combinations unless otherwise specified applicable add-on construction is addressed in miscellaneous provisions - category 23. end-on-end end-on-end combinations permitted. validate all fare components. travel must be via the point of combination. side trips permitted. open jaws/round trips/circle trips fares may be combined on a half round trip basis -to form single or double open jaws/round trips/circle trips. provided - combinations are with any fare for carrier mn in any rule in tariff fbra2p - within area 2 iprafrd - within africa-domestic.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">SURCHARGES</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    surcharges unless otherwise specified note - rule 0012 in iprg100 applies unless otherwise specified if infant under 02 without a seat. there is no charge for travel. the provisions below apply only as follows - tickets must be issued on mn or ba and may only be sold in south africa/lesotho/namibia/swaziland. sale is restricted to specific agents. note - ticket validity is 6 months from first date of travel. ---- vat should be added to the fare. exception - unless it is combined in an international fare construction then it need not be charged. a surcharge of zar 60.00 per fare component will be added to the applicable fare for travel. note - the distribution technology charge is zar60 the provisions below apply only as follows - sale is restricted to specific agents. tickets must be issued on mn a surcharge of zar 69.00 per fare component will be added to the applicable fare for travel. the provisions below apply only as follows - tickets must be issued on hr. a surcharge of usd 11.00 per fare component will be added to the applicable fare for travel. the provisions below apply only as follows - sale is restricted to specific agents. tickets must be issued on mn a surcharge of usd 11.00 per fare component will be added to the applicable fare for travel.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">TRAVEL RESTRICTIONS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    travel restrictions unless otherwise specified valid for travel commencing on/after 13jun 19.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">SALES RESTRICTIONS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    sales restrictions unless otherwise specified sale is restricted to specific agents. note - ticket validity is 6 months from first date of travel. or - sale is restricted to specific agents. note - ticket validity is 6 months from first date of travel. or - sale is restricted to specific agents. note - ticket validity is 6 months from first date of travel.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">PENALTIES</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    penalties for jrstwf fares cancellations any time ticket is non-refundable. note - the original non-refundable amount remains non-refundable subject to the cancellation fee and the applicable vat. --------------------------------------- refund of unused taxes fees and charges paid to third parties permitted. fuel and insurance surcharges will not be refunded. --------------------------------------- a no show constitutes a cancellation. --------------------------------------- at any time the surcharge is non refundable. changes any time charge zar 350.00. note - //excludes vat// must be paid per fare component. ---- vat should be added to the applicable rebooking fee and charged accordingly. ------------------------------------- charge applies per fare component - per person for adult and child. infants free of charge. ------------------------------------- when more than one fare component is changed/ the sum of all changed fare components will apply. ------------------------------------- a change is a date/ or flight/ or routing/ or reservation change. ------------------------------------- when the itinerary results in a higher fare the difference will be collected - and - any change fee applied. ------------------------------------- when the itinerary results in a lower fare the change fee applies and there is no refund of residual. ------------------------------------- reissue must be made at the same time as the reservation is changed. ------------------------------------- rerouting permitted. ------------------------------------- change fees including the applicable vat must be coded as od in the tax field. ------------------------------------- passengers who no-show for a flight will be considered as a cancellation after departure and will receive no refund of the fare. changes will not be permitted. the fares may not be used for further transportation. --- no name changes permitted once tickets have been issued. ticket is not transferable to another person. --- ---repricing conditions--- a. before departure of journey when the first fare component or segment is changed the itinerary must be re-priced using current fares is effect on the date the ticket is reissued. b. before departure of journey when changes are to booking code only in the first fare component and result in a higher fare the itinerary must be re-priced using historical fares in effect on the previous ticketing date. c. before departure of journey when there are no changes to the first fare component or segemnt but other fare components or segments are changed the itinerary must be re-priced using historical fares in effect on the previous ticketing date. d. after departure of journey the itinerary must be re-priced using historical fares in effect on the previous ticketing date. --- at any time the surcharge is non refundable.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">TICKET ENDORSEMENT</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    ticket endorsement unless otherwise specified the original and the reissued ticket must be annotated - nonendo/valid ba/mn only - and - tkt validity is 6 months- in the endorsement box.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">CHILDREN DISCOUNTS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    children discounts unless otherwise specified unaccompanied child under 12 - charge 100 percent of the fare or - accompanied child 2-11 - charge 100 percent of the fare or - infant under 2 with a seat - charge 100 percent of the fare or - infant under 2 without a seat - charge 15 percent of the fare. ticketing code - base fare code plus in. note - the fare charged shall be determined by the age of the child or infant at the date of departure.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">MISCELLANEOUS PROVISIONS</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    miscellaneous provisions unless otherwise specified this fare must not be used for add-on construction.
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">FARE BY RULE</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    fare by rule between hla and dur fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">VOLUNTARY CHANGES</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    fare by rule between hla and dur fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist or - fare by rule category provisions exist
                </span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    voluntary changes do a category 31 specific text entry to view contents also reference 16 penalties - for additional change information
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <span style="font-weight:700;">NEGOTIATED FARES</span>
            </td>
        </tr>
        <tr>
            <td align="justify" style="padding-top:5px;">
                <span>
                    negotiated fares for -twf type fares if this fare is valid for a specified account code. contact carrier for details. sale is restricted to specific agents if this fare is valid for a specified account code. contact carrier for details. sale is restricted to specific agents
                </span>
            </td>
        </tr>
    </table>
</div>

