
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/FlightSearch/Flights_Layout.cshtml";
}

    <div class="kt-subheader kt-grid__item" id="kt_subheader" style="margin-top:-15px!important;">
        <div class="alert alert-light alert-elevate myAlrt" role="alert">
            <div class="alert-icon myAlrtIc2"><i class="flaticon-warning kt-font-brand"></i></div>
            <div class="alert-text">
                Import Booking
            </div>
        </div>
    </div>

