
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/FlightSearch/Flights_Layout.cshtml";
}


<div class="kt-portlet__body" style="margin-top:-70px;">
    <ul class="nav nav-pills nav-fill myclr" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tabs_5_1"><i class="la la-briefcase"></i>Trip Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_2"><i class="la la-paperclip"></i>Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_3"><i class="la la-comments"></i>Additional Comments</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="kt_tabs_5_1" role="tabpanel">
            <!--begin:: Widgets/Applications/User/Profile3-->
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--user-profile-3">
                        <div class="kt-widget__top">
                            <div class="kt-widget__media kt-hidden-">
                                <img src="~/Content/Images/NU.png" alt="image">
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__head">
                                    <a href="#" class="kt-widget__username" style="font-size:14px;">
                                        Comair Ltd
                                    </a>
                                </div>
                                <div class="kt-widget__subhead">
                                    <a href="#"><i class="flaticon2-list-1"></i>MN603</a>
                                    <a href="#"><i class="flaticon-stopwatch"></i>0 Stops </a>
                                </div>
                                <div class="kt-widget__info">
                                    <div class="kt-widget__desc">
                                        <div class="flight-line">
                                            <div class="flight-line-a" style="margin-left:0px!important;">
                                                <b class="fnt"><i class="la la-plane"></i>17:15 - 01 JUL</b>
                                                <span class="fnt" style="padding-left:0px!important;">OR Tambo Intl Arpt</span><br />
                                                <span class="fnt" style="padding-left:0px!important;">Johannesburg</span>
                                            </div>
                                            <div class="flight-line-d spcarw"><i class="flaticon2-right-arrow"></i></div>
                                            <div class="flight-line-a" style="padding-left:0px!important;">
                                                <span class="myspn" style="padding-left:0px!important;"><i class="la la-clock-o"></i>1H 5M</span>
                                            </div>
                                            <div class="flight-line-d spcarw"><i class="flaticon2-right-arrow"></i></div>
                                            <div class="flight-line-a">
                                                <b class="fnt"><i class="la la-plane"></i>18:20 - 01 JUL</b>
                                                <span class="fnt" style="padding-left:0px!important;">King Shaka Intl Arpt</span><br />
                                                <span class="fnt" style="padding-left:0px!important;">Durban</span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="kt-widget__progress">
                                        <panel style="background-color:gainsboro;height:80px;width:450px;">
                                            <span style="margin-left:180px;"><i class="flaticon2-correct kt-font-success"></i> In Policy</span>

                                        </panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__bottom">
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Traveler</span>
                                    <span class="kt-widget__value fnt">Vernon Bear</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-security"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Action</span>
                                    <span class="kt-widget__value fnt">Awaiting Booking</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon2-delivery-truck"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Status</span>
                                    <span class="kt-widget__value fnt"><i class="la la-warning" style="color:orangered;"></i>Unconfirmed</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__details">
                                    <a href="#" class="cat-list-btn" style="background-color:darkred!important;">Remove</a>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-medal"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__value fnt">Cheaper flight available for</span><span class="fnt" style="color:mediumseagreen;font-weight:500;">ZAR 855.47</span><span>""</span><span class="fnt" style="color:red;font-weight:500;">(82.04 Cheaper)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Applications/User/Profile3-->
            <!--begin:: Widgets/Applications/User/Profile3-->
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--user-profile-3">
                        <div class="kt-widget__top">
                            <div class="kt-widget__media kt-hidden-">
                                <img src="~/Content/Images/hotel.png" alt="image">
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__head">
                                    <a href="#" class="kt-widget__username fnt">
                                        Road Lodge Umhlanga Ridge
                                    </a>
                                </div>
                                <div class="kt-widget__subhead">
                                    <a href="#"><i class="flaticon2-contract"></i>Standard Smoking Room...</a>
                                    <a href="#"><i class="flaticon-coins"></i>Room Cost: ZAR 1554</a>
                                </div>
                                <div class="kt-widget__info">
                                    <div class="kt-widget__desc">
                                        <div class="flight-line">
                                            <div class="flight-line-a" style="margin-left:0px!important;">
                                                <b class="fnt"><i class="la la-calendar"></i>01 JUL</b>
                                            </div>
                                            <div class="flight-line-d spcarw"><i class="flaticon2-right-arrow"></i></div>
                                            <div class="flight-line-a" style="padding-left:0px!important;">
                                                <span class="myspn" style="padding-left:0px!important;"><i class="la la-moon-o"></i>2 Night(s)</span>
                                            </div>
                                            <div class="flight-line-d spcarw"><i class="flaticon2-right-arrow"></i></div>
                                            <div class="flight-line-a">
                                                <b class="fnt"><i class="la la-calendar"></i>03 JUL</b>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="kt-widget__progress">
                                        <panel style="background-color:gainsboro;height:80px;width:450px;">
                                            <span style="margin-left:180px;"><i class="flaticon2-correct kt-font-success"></i> In Policy</span>
                                        </panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__bottom">
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Traveler</span>
                                    <span class="kt-widget__value fnt">Vernon Bear</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-security"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Action</span>
                                    <span class="kt-widget__value fnt">Awaiting Booking</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon2-delivery-truck"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Status</span>
                                    <span class="kt-widget__value fnt">Rack General</span>
                                    <span class="kt-widget__value fnt"><i class="la la-warning" style="color:orangered;"></i>Unconfirmed</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__details">
                                    <a href="#" class="cat-list-btn" style="background-color:darkred!important;">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Applications/User/Profile3-->
            <!--begin:: Widgets/Applications/User/Profile3-->
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--user-profile-3">
                        <div class="kt-widget__top">
                            <div class="kt-widget__media kt-hidden-">
                                <img src="~/Content/Images/Cars/BV_EBMR.jpg" alt="image">
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__head">
                                    <a href="#" class="kt-widget__username fnt">
                                        Economy 4-5 Door
                                    </a>
                                </div>
                                <div class="kt-widget__subhead">
                                    <a href="#"><i class="flaticon2-paper"></i>(ZI)</a>
                                    <a href="#"><i class="flaticon2-delivery-truck"></i>Avis Rent A Car System, Inc</a>
                                    <a href="#"><i class="flaticon-computer"></i>EDMR, Group B</a>
                                </div>
                                <div class="kt-widget__info">
                                    <div class="kt-widget__desc">
                                        <div class="flight-line">
                                            <div class="flight-line-a" style="margin-left:0px!important;">
                                                <b class="fnt"><i class="la la-arrow-up"></i>18:20 - 01 JUL</b>
                                                <span class="fnt" style="padding-left:0px!important;">OR Tambo Intl Arpt</span><br />
                                                <span class="fnt" style="padding-left:0px!important;">Johannesburg</span>
                                            </div>
                                            <div class="flight-line-d spcarw"><i class="flaticon2-right-arrow"></i></div>
                                            <div class="flight-line-a" style="padding-left:0px!important;">
                                                <span class="myspn" style="padding-left:0px!important;"><i class="la la-sun-o"></i>2 Day(s)</span>
                                            </div>
                                            <div class="flight-line-d spcarw"><i class="flaticon2-right-arrow"></i></div>
                                            <div class="flight-line-a">
                                                <b class="fnt"><i class="la la-arrow-down"></i>05:15 - 03 JUL</b>
                                                <span class="fnt" style="padding-left:0px!important;">King Shaka Intl Arpt</span><br />
                                                <span class="fnt" style="padding-left:0px!important;">Durban</span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="kt-widget__progress">
                                        <panel style="background-color:gainsboro;height:80px;width:450px;">
                                            <span style="margin-left:180px;"><i class="flaticon2-correct kt-font-success"></i> In Policy</span><br />
                                            <span style="margin-left:180px;"><i class="la la-user-secret kt-font-success" style="color:darkred!important;"></i> Corporate Deal</span>
                                        </panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__bottom">
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Traveler</span>
                                    <span class="kt-widget__value fnt">Vernon Bear</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-security"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Action</span>
                                    <span class="kt-widget__value fnt">Awaiting Booking</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon2-delivery-truck"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title fnt">Status</span>
                                    <span class="kt-widget__value fnt"><i class="la la-warning" style="color:orangered;"></i>Unconfirmed</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__details">
                                    <a href="#" class="cat-list-btn" style="background-color:darkred!important;">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Applications/User/Profile3-->
           
            <div class="kt-portlet__body">
                <!--begin::Accordion-->
                <div class="accordion" id="accordionExample1">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="card-title collapsed crdTxt BtnCard" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">
                               Complete Booking
                            </div>
                        </div>
                        <div id="collapseTwo1" class="collapse show" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                            <div class="card-body">
                                <span style="margin-bottom:15px!important;"><i class="flaticon2-correct kt-font-success"></i>Your trip was booked successfully. Please complete below to finish your booking.</span><br />
                                <div class="col-md-12 fnt" style="background:#f6891f;border-top:1px solid orange;border-bottom:1px solid orange;padding:6px;text-align:center;margin-bottom:15px;color:white;margin-top:15px;">
                                    Please note that this request will require a budget override approval
                                </div>
                                <div class="kt-quick-search kt-quick-search--inline" id="kt_quick_search_inline">
                                    <form method="get" class="kt-quick-search__form">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
                                            <input type="text" class="form-control kt-quick-search__input" placeholder="Select Approver">
                                            <div class="input-group-append"><span class="input-group-text"></span></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row" style="padding:15px;background:#1e1e2d;margin-bottom:15px;border-top:1px solid lightgrey;border-bottom:1px solid lightgrey;padding-left:0px;">
                                    <div class="col-md-12 BtnCard" style="text-align:left">
                                        Booking Details
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 noPad" style="font-size:12px;margin-top:8px;margin-bottom:5px;">
                                        Trip name
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input maxlength="200" type="text" class="form-control TextBoxesAll">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 noPad" style="font-size:12px;margin-top:8px;margin-bottom:5px;">
                                        Reason for travel
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="width:100%;">
                                            <input maxlength="200" type="text" class="form-control TextBoxesAll">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 noPad" style="font-size:12px;margin-top:8px;margin-bottom:5px;">
                                        Notes to approver
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input maxlength="200" type="text" class="form-control TextBoxesAll">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 noPad" style="font-size:12px;margin-top:8px;margin-bottom:5px;">
                                        Reason for missed savings
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="width:100%;">
                                            <input maxlength="200" type="text" class="form-control TextBoxesAll">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 noPad" style="font-size:12px;margin-top:8px;margin-bottom:5px;">
                                        Reason for policy breach
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group" style="width:100%;">
                                            <input maxlength="200" type="text" class="form-control TextBoxesAll">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding:15px;background:#1e1e2d;margin-bottom:15px;border-top:1px solid lightgrey;border-bottom:1px solid lightgrey;padding-left:0px;">
                                    <div class="col-md-12 BtnCard" style="text-align:left">
                                        Client Specific Fields
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12 noPad" style="font-size:12px;margin-top:8px;margin-bottom:5px;">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control TextBoxesAll">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8" id="bckCmpltCntdwn" style="margin-top:10px;color:indianred;">

                                    </div>
                                    <div class="col-xs-4" style="text-align:right;margin-bottom:10px;">
                                        <a href="@Url.Action("BookInf","BookingInfo")"><span type="reset" class="btn kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light srchBtn">Complete Booking</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Accordion-->
            </div>

        </div>
        <div class="tab-pane" id="kt_tabs_5_2" role="tabpanel">
           fhdjkshfsadjkhfjksdf
        </div>
        <div class="tab-pane" id="kt_tabs_5_3" role="tabpanel">
           fjdkfhdsjkfhdsjk
        </div>

    </div>
</div>
