
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/FlightSearch/Flights_Layout.cshtml";
}

<div class="erbck">
        <div class="kt-error-v1__container myErCont" >
            <h1 class="kt-error-v1__number">404</h1>
            <p class="kt-error-v1__desc">
                OOPS! Something went wrong here
            </p>
        </div>
    </div>

