
@{
    ViewBag.Title = "ApprovalOverride";
    Layout = "~/Views/FlightSearch/Flights_Layout.cshtml";
}


<!--start: Subheader-->
<div class="kt-subheader kt-grid__item" id="kt_subheader" style="margin-top:-15px!important;">
    <div class="alert alert-light alert-elevate myAlrt" role="alert">
        <div class="alert-icon myAlrtIc"><i class="flaticon-warning kt-font-brand"></i></div>
        <div class="alert-text">
            Active Approvals
        </div>
    </div>
</div>
<!--end: Subheader-->


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th align="center">Reference</th>
                <th align="center">Travel Date</th>
                <th align="center">Booking Status</th>
                <th align="center">Booker</th>
                <th align="center">Travelers</th>
                <th align="center">Company</th>
                <th align="center">Trip Name</th>
                <th align="center">Trip Reason</th>
                <th align="center">Notes To Approvers</th>
                <th align="center">Reason for Missed Savings</th>
                <th align="center">Reason for Policy Breach</th>
                <th align="center">Actions<i class="flaticon-refresh flicnRefs"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>
                    <div class="row">
                        <span class="kt-badge kt-badge--brand kt-badge--inline tblBdgeD">Detail</span>
                        <span class="kt-badge kt-badge--danger kt-badge--inline tblBdgeA">Audit</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>
                    <div class="row">
                        <span class="kt-badge kt-badge--brand kt-badge--inline tblBdgeD">Detail</span>
                        <span class="kt-badge kt-badge--danger kt-badge--inline tblBdgeA">Audit</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>
                    <div class="row">
                        <span class="kt-badge kt-badge--brand kt-badge--inline tblBdgeD">Detail</span>
                        <span class="kt-badge kt-badge--danger kt-badge--inline tblBdgeA">Audit</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--PAGINATION-->
<div class="kt-portlet__body pagAlgn" style="margin-top:30px;">
    <div class="tab-content">
        <!--begin: Section-->
        <div class="kt-section">
            <p class="kt-section__content">
                <!--begin: Pagination-->
            </p>
            <div class="kt-pagination  kt-pagination--brand">
                <ul class="kt-pagination__links">
                    <li class="kt-pagination__link--first">
                        <a href="#" class="pagSt"><i class="fa fa-angle-double-left kt-font-brand pagIc"></i></a>
                    </li>
                    <li class="kt-pagination__link--next">
                        <a href="#" class="pagSt"><i class="fa fa-angle-left kt-font-brand pagIc"></i></a>
                    </li>
                    <li>
                        <a href="#">...</a>
                    </li>
                    <li>
                        <a href="#">29</a>
                    </li>
                    <li>
                        <a href="#">30</a>
                    </li>
                    <li>
                        <a href="#">31</a>
                    </li>
                    <li class="kt-pagination__link--active">
                        <a href="#">32</a>
                    </li>
                    <li>
                        <a href="#">33</a>
                    </li>
                    <li>
                        <a href="#">34</a>
                    </li>
                    <li>
                        <a href="#">...</a>
                    </li>
                    <li class="kt-pagination__link--prev">
                        <a href="#" class="pagSt"><i class="fa fa-angle-right kt-font-brand pagIc"></i></a>
                    </li>
                    <li class="kt-pagination__link--last">
                        <a href="#" class="pagSt"><i class="fa fa-angle-double-right kt-font-brand pagIc"></i></a>
                    </li>
                </ul>
            </div>
            <!--end: Pagination-->
            <p></p>
        </div>
        <!--end: Section-->
    </div>
</div>
<!--PAGINATION END-->
